.btn:focus {
  outline: 0;
}

.btn-press {
  box-shadow: 0 4px 0 0 rgba(30, 58, 138, 1);
  transition: all 200ms ease-in-out; 
}

.btn-press:hover {
  transform: translateY(4px);
  box-shadow: 0 0 0 0 rgba(30, 58, 138, 0);
}