.HeroParallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.HeroParallax::after {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(4px) saturate(1.5);;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.HeroParallax__text {
    color: #1c1c1c;
    font-weight: 700;
    z-index: 1;
    text-align: center;
    text-transform: uppercase;
}
