@media only screen and (min-width: 1200px) and (max-width: 1536px) {
  .lg\:max-w-screen-1200 {
    max-width: 1140px;
    width: 100%;
  }
}

.font-image {
  background-image: url("https://www.wallpapertip.com/wmimgs/15-154273_wallpaper-samsung-galaxy-note-5-ultra-hd-2160.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
