.questionaire-container {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.question-container {
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  background-color: #fff;
  color: var(--blue-color);
  padding: 2rem 3rem;
}

.response-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
}

.btn-questionaire {
  --color: var(--blue-color);
  --background: white;
  padding: 1rem;
  border: 0;
  border-radius: 0.5rem;
}

.btn.select {
  opacity: 0.85;
}

.btn.correct {
  --color: hsl(90, 80%, 55%);
}

.btn.incorrect {
  --color: hsl(0, 90%, 66%);
}

.btn.selected{
  opacity: 0.85;
  background-color: blue;
  color: white;
}
