<header
  style="
    height: 64px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px 0px;
    padding: 8px 16px;
  "
>
  <nav
    style="
      height: 100%;
      display: flex;
      max-width: 1140px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-between;
      align-items: center;
    "
  >
    <div style="width: 150px; height: 30px">asdasdasdasd</div>
    <div style="width: 150px; height: 30px; text-align: right">
      asdasdasdasd
    </div>
  </nav>
</header>

<div
  style="
    background: url(https://lahora.com.ec/contenido/cache/48/espindola-confirma-casos-de-covid-19-imagen-1-_2020078102145-682x512.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    position: relative;
  "
>
  <div style="color: #1c1c1c; font-weight: 700; font-size: 50px; z-index: 1">
    Los cantones de loja
  </div>
  <div
    style="
      position: absolute;
      background: rgba(255, 255, 255, 0.25);
      top: 0;
      left: 0;
      backdrop-filter: blur(6px) saturate(1.5);
      right: 0;
      bottom: 0;
    "
  ></div>
</div>
