.nuevo {
  max-height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  padding-right: 100px;
  max-width: 400px;
  background-color: black;
}

.nuevo *{

  outline: 1px solid red;
}

.nuevo img {
  max-height: 100%;
}

.container-image {
  height: 200px;
  /* display: inline-block; */
}

.test{
  width: 30px;
  height: 30px;
  background-color: white;
  position: absolute;
  right: 32%;
  top: 10%;
  z-index: 12;
}

.content-talkbubble{
  top: 0;
  right: 0;
  position: absolute;

}

.talkbubble {
  padding: 1rem;
  height: 80px;
  background: rgba(59, 130, 246, 6);
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.talkbubble:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid rgba(59, 130, 246, 6);
  border-bottom: 13px solid transparent;
}